@import '../_modules/variables';

/* ==== Top ==== */

.introduction {
	margin: 16px auto 32px;
	font-size: 18px;
	@include responsive(md) {
		font-size: 20px;
	}
}

.control {
	margin: 0 auto 0;
	max-width: 1000px;
	&__heading {
		display: inline-block;
		background-color: #23d16e;
		color: #fff;
		font-weight: 700;
		font-size: 14px;
		padding: 4px 10px;
		border-radius: 4px 4px 0 0;
	}
	&__form {
		padding: 8px 16px;
		background-color: #cbfadf;
		@include responsive(md) {
			padding: 12px 20px;
		}
	}
	&__form label + label {
		@include responsive(md) {
			margin-left: 1em;
		}
	}
	&__text {
		font-size: 16px;
		font-weight: 700;
		color: #333;
	}
	&__formInput01 {
		width: 100%;
		padding: 0 2px;
		@include responsive(md) {
			width: 30%;
		}
	}
	&__formInput02 {
		width: 100%;
		padding: 0 2px;
		@include responsive(md) {
			width: 17%;
		}
	}
	&__addButton {
		font-size: 14px;
		font-weight: 700;
		color: #000;
		background-color: #eee;
		border: solid 1px #ccc;
		border-radius: 4px;
		margin-top: 1em;
		padding: 4px 8px;
		@include responsive(md) {
			margin-top: 0;
			margin-left: 1em;
		}
	}

	&__bottom {
		margin-top: 0.5em;
	}
	&__delButton {
		display: none;
		font-size: 14px;
		font-weight: 700;
		color: #fff;
		background-color: #ff5a00;
		border: solid 1px #ccc;
		border-radius: 4px;
		padding: 4px 8px;
		@include responsive(md) {
			padding: 4px 8px;
		}
	}
}
main:has(.table__row) .control__delButton {
	display: block;
}

.table {
	margin: 16px auto 0;
	box-shadow: 2px 5px 5px 0 #d6d6d6;
	border: solid 1px #b9b9b9;
	border-collapse: collapse;
	max-width: 100%;
	@include responsive(md) {
		max-width: 1000px;
	}
	&__row.is-uncomplete {
		background-color: inherit;
	}
	&__row.is-process {
		background-color: #e1ffee;
	}
	&__row.is-complete {
		background-color: #498ec9;
	}
	th,
	td {
		border-top: solid 1px #ccc;
	}
	th {
		font-size: 16px;
		font-size: 700;
		color: #000;
		padding: 4px 8px;
		background-color: #efefef;
		@include responsive(md) {
			padding: 10px 20px;
			font-size: 18px;
		}
		& + th {
			border-left: solid 1px #ccc;
		}
	}
	&__title01 {
		width: 45%;
	}
	&__title02 {
		width: 15%;
	}
	&__title03 {
		width: 10%;
	}
	&__title04 {
		width: 20%;
	}
	&__title05 {
		width: 10%;
	}
	td {
		font-size: 16px;
		padding: 4px 8px;
		text-shadow: 1px 1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff,
			-1px -1px 0px #fff, 1px 0px 0px #fff, 0px 1px 0px #fff, -1px 0px 0px #fff,
			0px -1px 0px #fff;
		@include responsive(md) {
			font-size: 18px;
			padding: 10px 20px;
		}
		& + td {
			border-left: solid 1px #ccc;
		}
		&.is-done {
			text-decoration: line-through;
		}
	}
	&__check {
		transform: scale(1.8);
		cursor: pointer;
	}
	&__select {
		border-radius: 4px;
		border: solid 2px #767676;
		color: #333;
		text-shadow: none;
	}
	&__delButton {
		border-radius: 4px;
		color: #ff5a00;
		background-color: #eee;
		font-size: 14px;
		font-weight: 700;
		text-shadow: none;
		line-height: 1.2;
		border: solid 1px #ccc;
		padding: 3px 4px;
		width: 40px;
		@include responsive(md) {
			padding: 3px 6px;
			font-size: 16px;
			width: auto;
		}
	}
}
